In [72]:
import pandas as pd
import numpy as np
import math

In [53]:
data = pd.read_csv('abalone.data', sep=",", header=None, names=['sex','len','diam','heig','w_wei','shu_wei','v_wei','she_wei','rings'])
data = pd.get_dummies(data,prefix=['sex'])
data.head()

,len,diam,heig,w_wei,shu_wei,v_wei,she_wei,rings,sex_F,sex_I,sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,1,0,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0,0,1
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0,1,0

In [49]:
def getNumSex(sex):
    if 'M' in sex:
        return 0
    elif 'F' in sex:
        return 1
    elif 'I' in sex:
        return 2
#data['n_sex'] = data['sex'].apply(lambda x: getNumSex(x)) 
#data = data.drop(['sex'], axis=1)

In [65]:
result_column='rings'
X = data.copy().drop([result_column], axis=1)
print('Numer of items: {}'.format(X.shape[0]))
print('Numer of features: {}'.format(X.shape[1]))
print('Numer of classes: {}'.format(1))
X.head()

Numer of items: 4177
Numer of features: 10
Numer of classes: 1

     len   diam   heig   w_wei  shu_wei   v_wei  she_wei  sex_F  sex_I  sex_M
0  0.455  0.365  0.095  0.5140   0.2245  0.1010    0.150      0      0      1
1  0.350  0.265  0.090  0.2255   0.0995  0.0485    0.070      0      0      1
2  0.530  0.420  0.135  0.6770   0.2565  0.1415    0.210      1      0      0
3  0.440  0.365  0.125  0.5160   0.2155  0.1140    0.155      0      0      1
4  0.330  0.255  0.080  0.2050   0.0895  0.0395    0.055      0      1      0

In [67]:
Y = data.copy()[result_column]
Y.head()

0    15
1     7
2     9
3    10
4     7
Name: rings, dtype: int64

In [74]:
items = X.shape[0]/5
math.floor(items)

835

835.4

In [81]:
def save_partitioned_data(X,partitions):
    n_items = math.floor(X.shape[0]/partitions)
    for i in range(partitions):
        items = X[i*n_items:(i+1)*n_items]
        print(items.shape)
        np.savetxt('abalone-{}.txt'.format(i), items)

In [83]:
save_partitioned_data(X.to_numpy(),5)

(835, 10)
(835, 10)
(835, 10)
(835, 10)
(835, 10)

In [88]:
markers = np.loadtxt("abalone-0.txt")
markers.shape

(835, 10)